@import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral:wght@600&display=swap');

body {
    background-color: #0f1a26;
    margin: 50px;
    background-image: url(/images/anywhere-workers.gif);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 700px;



}


h1 {
    font-size: 120px;
    color: #fff;
    width: 50%;
    font-family: 'Spectral', serif;
    line-height: 130px;
}

p {
    color: #c3d0df;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    width: 50%;
}


.read {
    color: #f33;
    letter-spacing: 3px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 80px;
    text-transform: uppercase;
    font-size: 16px;
}

a {
    background-color: #f33;
    padding: 20px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
}

a:hover {
    background: grey;
}